In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
import chardet
with open('Enron_email_threads_updated.csv', 'rb') as f:
    enc = chardet.detect(f.readline())
email = pd.read_csv('Enron_email_threads_updated.csv', encoding= enc['encoding'], sep= '\t')

In [12]:
email.head()

,TID,MID,From,TO,Timestamp,Type
0,155a74d0930df40c,e9c42ba707f5e84,mark.whitt@enron.com,heidi.dubose@enron.com,2001-10-25T07:02:55-07:00,TO
1,155a01503aaa94d2,ea7d7b79039db9c,barry.tycholiz@enron.com,jessica.presas@enron.com,2001-11-30T05:39:51-08:00,TO
2,155a0146556ac9cb,e9e418ca9b8987a,barry.tycholiz@enron.com,stephanie.miller@enron.com,2001-10-31T10:50:10-08:00,TO
3,1559a0a82828c7c9,ea57a25b4ab0621,enron_update@concureworkplace.com,s..shively@enron.com,2001-11-22T21:16:45-08:00,TO
4,1559a0a82828c7c9,ea57a247904c8e9,enron_update@concureworkplace.com,jsteffe@enron.com,2001-11-22T21:16:40-08:00,TO

In [13]:
email.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471874 entries, 0 to 471873
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   TID        471874 non-null  object
 1   MID        471874 non-null  object
 2   From       471874 non-null  object
 3   TO         471872 non-null  object
 4   Timestamp  471874 non-null  object
 5   Type       471874 non-null  object
dtypes: object(6)
memory usage: 21.6+ MB

In [32]:
def domain_extract(x):

    try:

        return x.split('@')[1]

    except:

        return np.nan

In [33]:
email['Domain_sending'] = email['From'].apply(domain_extract)

In [34]:
email['Domain_Receiving'] = email['TO'].apply(domain_extract)

In [35]:
email.head()

,TID,MID,From,TO,Timestamp,Type,Domain_sending,Domain_Receiving
0,155a74d0930df40c,e9c42ba707f5e84,mark.whitt@enron.com,heidi.dubose@enron.com,2001-10-25T07:02:55-07:00,TO,enron.com,enron.com
1,155a01503aaa94d2,ea7d7b79039db9c,barry.tycholiz@enron.com,jessica.presas@enron.com,2001-11-30T05:39:51-08:00,TO,enron.com,enron.com
2,155a0146556ac9cb,e9e418ca9b8987a,barry.tycholiz@enron.com,stephanie.miller@enron.com,2001-10-31T10:50:10-08:00,TO,enron.com,enron.com
3,1559a0a82828c7c9,ea57a25b4ab0621,enron_update@concureworkplace.com,s..shively@enron.com,2001-11-22T21:16:45-08:00,TO,concureworkplace.com,enron.com
4,1559a0a82828c7c9,ea57a247904c8e9,enron_update@concureworkplace.com,jsteffe@enron.com,2001-11-22T21:16:40-08:00,TO,concureworkplace.com,enron.com

In [36]:
email.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471874 entries, 0 to 471873
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   TID               471874 non-null  object
 1   MID               471874 non-null  object
 2   From              471874 non-null  object
 3   TO                471872 non-null  object
 4   Timestamp         471874 non-null  object
 5   Type              471874 non-null  object
 6   Domain_sending    471874 non-null  object
 7   Domain_Receiving  471871 non-null  object
dtypes: object(8)
memory usage: 28.8+ MB

In [37]:
email['Domain_sending'].value_counts()

enron.com              414551
aol.com                  2127
hotmail.com              2002
earthlink.net            1982
elpaso.com               1862
                        ...
mit.edu                     1
urmgroup.com                1
bloomberg.net               1
emailfactory.net            1
news.deandeluca.com         1
Name: Domain_sending, Length: 2123, dtype: int64

In [39]:
email['Domain_Receiving'].value_counts()

enron.com                442340
aol.com                    1485
hotmail.com                 995
enron.com>                  933
ect.enron.com               896
                          ...
utarget.sparklist.com         1
byko.enron.com                1
houston.rr                    1
stern.nyu.edu                 1
amerch.com                    1
Name: Domain_Receiving, Length: 2867, dtype: int64

enron.com is the most used domain for sending and receiving emails