In [1]:
import pandas as pd
import sqlite3

In [21]:
connection = sqlite3.connect('books.db')

In [ ]:
pd.read_sql('SELECT Name from books WHERE (Rate != "star-rating One" AND Rate != "star-rating Two") AND (Name LIKE "%Mr%")', connection)

In [ ]:
pd.read_sql('SELECT Name from books WHERE (Rate != "star-rating One" AND Rate != "star-rating Two") OR (Price > 20)', connection)

In [ ]:
pd.read_sql('SELECT Name from books WHERE Rate != "star-rating Three"', connection)

In [ ]:
pd.read_sql('SELECT Name from books WHERE (Price BETWEEN 10 AND 40) AND (Rate = "star-rating Three" OR Rate = "star-rating Four" OR Rate = "star-rating One")', connection)

In [ ]:
pd.read_sql('SELECT Name from books ORDER BY Price DESC LIMIT 5', connection)

In [ ]:
pd.read_sql('SELECT Name from books ORDER BY Rate Desc, Price ASC LIMIT 20, 10 ', connection)

In [5]:
connection.execute('INSERT INTO categories (categories_id, category) VALUES(?, ?)', [51, 'Data Science'])

name_list = ['Head First Statistics', 'Practical Statistics for Data Scientists', 'Introduction to Probability', 'Python Machine Learning By Example', 'Python for data analysis']

price_list = [10, 20, 30, 40, 50]

rate_list = ['star-rating One', 'star-rating Two', 'star-rating Three', 'star-rating Four', 'star-rating Five']

books_id = [51, 51, 51, 51, 51]

for i in range(5):

    connection.execute('INSERT INTO books (books_id, Name, Price, Rate) VALUES (?, ?, ?, ?)', [books_id[i], name_list[i], price_list[i], rate_list[i]])

In [ ]:
connection.execute('UPDATE books  SET Rate = "star-rating Three" WHERE Price < 20')

In [ ]:
connection.execute('DELETE FROM books WHERE Price > 50 AND (Rate <= "star-rating Two")')

In [ ]:
pd.read_sql('SELECT COUNT(books_id) from books WHERE Name LIKE "%Secret%" AND (Price BETWEEN 10  AND 25)', connection)

In [ ]:
pd.read_sql('SELECT MAX(Price) FROM books WHERE Rate = "star-rating Five"', connection)

In [ ]:
pd.read_sql('SELECT MIN(Price) FROM books WHERE Rate = "star-rating Five"', connection)

In [ ]:
pd.read_sql('SELECT AVG(Price) FROM books WHERE Rate = "star-rating Five"', connection)

In [ ]:
pd.read_sql('SELECT SUM(Price) FROM books WHERE Rate = "star-rating Two" AND (Price BETWEEN 10 AND 40)', connection)

In [ ]:
pd.read_sql('SELECT books.Name AS book_name, categories.category AS category_name, books.Rate AS book_rate, books.Price AS book_price\
            FROM books INNER JOIN categories\
            ON books.books_id = categories.categories_id', connection)

In [ ]:
pd.read_sql('SELECT COUNT(books_id) AS books_count, Rate\
            FROM books WHERE Price BETWEEN 20 AND 30\
            GROUP BY Rate\
            ORDER BY books_count DESC', connection)

In [ ]:
pd.read_sql('SELECT count(books.books_id) AS books_count, categories.category AS category_name\
                FROM books INNER JOIN categories\
                ON books.books_id = categories.categories_id\
                GROUP BY category_name\
                HAVING books_count > 10', connection)

In [ ]:
pd.read_sql('SELECT Name from books\
            WHERE books_id =\
            (SELECT categories_id from categories WHERE category = "Music")', connection)

In [16]:
connection.commit()

In [19]:
connection.close()