In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
request = requests.get('https://books.toscrape.com/')

In [3]:
soup = BeautifulSoup(request.text, 'html.parser')

In [36]:
df = pd.DataFrame([])

In [44]:
i1 = 0
i2 = 0
i3 = 0

url = 'https://books.toscrape.com/'

for cat in soup.find_all('a')[3:53]:
    
    cat_url = url + cat.get('href')

    r = requests.get(f'{cat_url}')

    s = BeautifulSoup(r.text, 'html.parser')

    for name in s.find_all('h3'):
        
        df.loc[i1, 'Name'] = name.find('a').get('title')

        i1 += 1

    for price in s.find_all('p', class_= "price_color"):
    
        df.loc[i2, 'Price'] = price.get_text()

        i2 += 1

    for rate in s.find_all('p', class_= "star-rating"):
    
        df.loc[i3, 'Rate'] = str(rate).split('"')[1]
        
        i3 += 1

In [47]:
df

,Name,Price,Rate
0,It's Only the Himalayas,Â£45.17,star-rating Two
1,Full Moon over Noahâs Ark: An Odyssey to Mou...,Â£49.43,star-rating Four
2,See America: A Celebration of Our National Par...,Â£48.87,star-rating Three
3,Vagabonding: An Uncommon Guide to the Art of L...,Â£36.94,star-rating Two
4,Under the Tuscan Sun,Â£37.33,star-rating Three
...,...,...,...
512,Why the Right Went Wrong: Conservatism--From G...,Â£52.65,star-rating Four
513,Equal Is Unfair: America's Misguided Fight Aga...,Â£56.86,star-rating One
514,Amid the Chaos,Â£36.58,star-rating One
515,Dark Notes,Â£19.19,star-rating Five
516,The Long Shadow of Small Ghosts: Murder and Me...,Â£10.97,star-rating One

In [49]:
df.to_csv('Books by Categories.csv')